In [1]:
import pandas as p

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

4. total Feedback that you have received

In [29]:
df = p.read_excel(r'C:\Users\dchakrab.COMPUTACENTER\Downloads\AgentPerformance (1).xlsx')

C:\Users\dchakrab.COMPUTACENTER\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents

12 . percentage of chat on which they have received a feedback

This notebook consists task 1, 4, 5,6,7,8,9,10,12

In [30]:
df

,Agent Performance Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0

In [31]:
new_header = df.iloc[0]

In [32]:
df.columns = new_header

In [33]:
df.drop(0,inplace = True)

In [34]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0

In [35]:
df.dtypes

0
SL No                      object
Date                       object
Agent Name                 object
Total Chats                object
Average Response Time      object
Average Resolution Time    object
Average Rating             object
Total Feedback             object
dtype: object

In [66]:
date = p.to_datetime(df['Date'])

In [67]:
df['converted_date'] = date

In [21]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30
...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,2022-07-01
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,2022-07-01
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,2022-07-01
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,2022-07-01
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,2022-07-01

In [68]:
df['week'] = df['converted_date'].dt.week

C:\Users\dchakrab.COMPUTACENTER\AppData\Local\Temp\ipykernel_26988\2757462205.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['converted_date'].dt.week

In [23]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date,week
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30

In [47]:
df['converted_average_rating'] = p.to_numeric(df['Average Rating'])

In [26]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date,week,converted_average_rating
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,4.11
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30,3.14
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,4.55
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,4.71
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,3.67

In [28]:
df.groupby(['week','Agent Name'])['converted_average_rating'

C:\Users\dchakrab.COMPUTACENTER\Anaconda3\lib\site-packages\pandas\core\common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

TypeError: unhashable type: 'DataFrame'

In [37]:
df['converted_total_chats'] = p.to_numeric(df['Total Chats'])

Total number of chats taken by agents

In [38]:
df.groupby('Agent Name')['converted_total_chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: converted_total_chats, Length: 70, dtype: int64

Total number of feedback taken by agents

df['converted_total_feedback'] = p.to_numeric(df['Total Feedback'])

In [40]:
df.groupby('Agent Name')['converted_total_feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: converted_total_feedback, Length: 70, dtype: int64

In [48]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67
...,...,...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,0,0,0.00

Agent names who have average rating between 3.5 and 4

In [53]:
p.unique(df[(df['converted_average_rating']>= 3.5) & (df['converted_average_rating'] <= 4)]['Agent Name'])

array(['Swati ', 'Manjunatha A', 'Boktiar Ahmed Bappy', 'Prateek _iot ',
       'Nandani Gupta', 'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ',
       'Hrisikesh Neogi', 'Muskan Garg', 'Khushboo Priya', 'Wasim ',
       'Jawala Prakash', 'Shiva Srivastava', 'Nishtha Jain', 'Maitry ',
       'Prerna Singh', 'Shivan K', 'Chaitra K Hiremath',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Madhulika G',
       'Rishav Dash', 'Prabir Kumar Satapathy', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Ameya Jain', 'Sanjeev Kumar', 'Sandipan Saha', 'Anirudh ',
       'Jayant Kumar', 'Maneesh ', 'Anurag Tiwari', 'Saurabh Shukla',
       'Ashad Nasim', 'Shubham Sharma', 'Aditya Shinde'], dtype=object)

In [55]:
p.unique(df[(df['converted_average_rating']< 3.5)]['Agent Name'])

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

In [56]:
p.unique(df[(df['converted_average_rating']> 4)]['Agent Name'])

array(['Prerna Singh', 'Ameya Jain', 'Mahesh Sarade', 'Mukesh ',
       'Saikumarreddy N', 'Sanjeev Kumar', 'Shubham Sharma',
       'Nishtha Jain', 'Khushboo Priya', 'Suraj S Bilgi',
       'Harikrishnan Shaji', 'Hrisikesh Neogi', 'Shivan K',
       'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Shiva Srivastava', 'Muskan Garg',
       'Aditya_iot ', 'Chaitra K Hiremath', 'Rishav Dash', 'Wasim ',
       'Prabir Kumar Satapathy', 'Bharath ', 'Jawala Prakash',
       'Ayushi Mishra', 'Prateek _iot ', 'Jaydeep Dixit', 'Zeeshan ',
       'Manjunatha A', 'Nandani Gupta', 'Maitry ', 'Swati ', 'Aravind ',
       'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Jayant Kumar', 'Anirudh ', 'Saurabh Shukla', 'Mukesh Rao ',
       'Shivan_S ', 'Vivek ', 'Ankitjha '], dtype=object)

In [59]:
type(p.unique(df[(df['converted_average_rating']> 4)]['Agent Name']))

numpy.ndarray

In [62]:
df3 = df[(df['converted_average_rating']> 4.5)]

 how many feedaback agents have received more then 4.5 average

In [64]:
df3.groupby('Agent Name')['converted_total_feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: converted_total_feedback, dtype: int64

In [65]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67
...,...,...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,0,0,0.00
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,0,0,0.00

In [71]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating,converted_date,week
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11,2022-07-30,30
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14,2022-07-30,30
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55,2022-07-30,30
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71,2022-07-30,30
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26

In [79]:
df['converted_average_response_time'] = p.to_timedelta(df['Average Response Time'])

In [80]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating,converted_date,week,converted_average_response_time
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11,2022-07-30,30,0 days 00:00:38
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14,2022-07-30,30,0 days 00:01:15
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55,2022-07-30,30,0 days 00:00:30
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71,2022-07-30,30,0 days 00:01:04
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67,2022-07-30,30,0 days 00:01:11

In [96]:
df4=df.groupby(['Agent Name','week'])['converted_average_response_time'].sum().div(5)

In [97]:
df4

Agent Name  week
Abhishek    26            0 days 00:00:00
            27            0 days 00:00:00
            28            0 days 00:00:00
            29            0 days 00:00:00
            30            0 days 00:00:00
                            ...
Zeeshan     26            0 days 00:00:00
            27            0 days 00:00:33
            28     0 days 00:02:52.800000
            29            0 days 00:01:28
            30     0 days 00:01:16.600000
Name: converted_average_response_time, Length: 350, dtype: timedelta64[ns]

In [99]:
df4.head(100)

Agent Name          week
Abhishek            26            0 days 00:00:00
                    27            0 days 00:00:00
                    28            0 days 00:00:00
                    29            0 days 00:00:00
                    30            0 days 00:00:00
                                    ...
Harikrishnan Shaji  26            0 days 00:00:00
                    27            0 days 00:00:39
                    28     0 days 00:00:55.200000
                    29     0 days 00:01:07.800000
                    30     0 days 00:00:41.800000
Name: converted_average_response_time, Length: 100, dtype: timedelta64[ns]

In [100]:
df5=df.groupby(['Agent Name','week'])['converted_average_rating'].sum().div(5)

In [101]:
print(df5)

Agent Name  week
Abhishek    26      0.000
            27      0.000
            28      0.000
            29      0.000
            30      0.000
                    ...
Zeeshan     26      0.000
            27      1.830
            28      4.128
            29      4.452
            30      3.312
Name: converted_average_rating, Length: 350, dtype: float64

In [102]:
df['converted_average_resolution_time'] = p.to_timedelta(df['Average Resolution Time'])

In [103]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating,converted_date,week,converted_average_response_time,converted_average_resolution_time
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11,2022-07-30,30,0 days 00:00:38,0 days 00:04:20
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14,2022-07-30,30,0 days 00:01:15,0 days 00:28:25
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55,2022-07-30,30,0 days 00:00:30,0 days 00:11:36
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71,2022-07-30,30,0 days 00:01:04,0 days 00:15:46
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67,2022-07-30,30,0 days 00:01:11,0 days 00:16:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00

Average weekly resolution time for each agents

In [104]:
df6=df.groupby(['Agent Name','week'])['converted_average_resolution_time'].sum().div(5)

In [105]:
df6

Agent Name  week
Abhishek    26            0 days 00:00:00
            27            0 days 00:00:00
            28            0 days 00:00:00
            29            0 days 00:00:00
            30            0 days 00:00:00
                            ...
Zeeshan     26            0 days 00:00:00
            27     0 days 00:07:32.200000
            28            0 days 00:22:58
            29            0 days 00:18:32
            30     0 days 00:15:28.200000
Name: converted_average_resolution_time, Length: 350, dtype: timedelta64[ns]

List of all agents name

NameError: name 'df1' is not defined

In [111]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating,converted_date,week,converted_average_response_time,converted_average_resolution_time
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11,2022-07-30,30,0 days 00:00:38,0 days 00:04:20
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14,2022-07-30,30,0 days 00:01:15,0 days 00:28:25
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55,2022-07-30,30,0 days 00:00:30,0 days 00:11:36
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71,2022-07-30,30,0 days 00:01:04,0 days 00:15:46
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67,2022-07-30,30,0 days 00:01:11,0 days 00:16:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00

percentage of chat on which they have received a feedback

In [119]:
df['chat_percentage'] = 100 * (df['converted_total_chats'] / df.groupby('Agent Name')['converted_total_feedback'].transform('sum'))

In [117]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating,converted_date,week,converted_average_response_time,converted_average_resolution_time,chat_percentage
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11,2022-07-30,30,0 days 00:00:38,0 days 00:04:20,4.680851
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14,2022-07-30,30,0 days 00:01:15,0 days 00:28:25,3.571429
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55,2022-07-30,30,0 days 00:00:30,0 days 00:11:36,6.140351
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71,2022-07-30,30,0 days 00:01:04,0 days 00:15:46,6.481481
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67,2022-07-30,30,0 days 00:01:11,0 days 00:16:33,4.635762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00,0.000000
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00,NaN
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00,0.000000
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00,0.000000
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,0,0,0.00,2022-07-01,26,0 days 00:00:00,0 days 00:00:00,0.000000

In [120]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_total_chats,converted_total_feedback,converted_average_rating,converted_date,week,converted_average_response_time,converted_average_resolution_time,chat_percentage
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,11,9,4.11,2022-07-30,30,0 days 00:00:38,0 days 00:04:20,4.680851
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,11,7,3.14,2022-07-30,30,0 days 00:01:15,0 days 00:28:25,3.571429
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,14,11,4.55,2022-07-30,30,0 days 00:00:30,0 days 00:11:36,6.140351
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,14,7,4.71,2022-07-30,30,0 days 00:01:04,0 days 00:15:46,6.481481
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,14,6,3.67,2022-07-30,30,0 days 00:01:11,0 days 00:16:33,4.635762